Facial_keypoints_detection/v1/train_v1.hdf5
Facial_keypoints_detection/WIth heatmaps/train_set.hdf5
Facial_keypoints_detection/Facial_Keypoints_Detection.py
Facial_keypoints_detection/submission.csv
Facial_keypoints_detection/.ipynb_checkpoints/Facial_Keypoints_Detection-checkpoint.py
Facial_keypoints_detection/.ipynb_checkpoints/Factial_keyponts_detection_v1-checkpoint.ipynb
Facial_keypoints_detection/.ipynb_checkpoints/Factial_keyponts_detection_v2_without_pre_proccess-checkpoint.ipynb
Facial_keypoints_detection/.ipynb_checkpoints/Factial_keyponts_detection_v2-Copy1-checkpoint.ipynb
Facial_keypoints_detection/.ipynb_checkpoints/Pre_Process_data-checkpoint.ipynb
Facial_keypoints_detection/.ipynb_checkpoints/submission-checkpoint.csv
Facial_keypoints_detection/Dataset/facial-keypoints-detection.zip
Facial_keypoints_detection/Dataset/IdLookupTable.csv
Facial_keypoints_detection/Dataset/SampleSubmission.csv
Facial_keypoints_detection/Dataset/test.zip
Facial_keypoints_detection/Dataset/training.zip
Facial_keypoints_detection/Dataset/.ipynb_checkpoints/IdLookupTable-checkpoint.csv
Facial_keypoints_detection/Dataset/test/test.csv
Facial_keypoints_detection/Dataset/test/.ipynb_checkpoints/test-checkpoint.csv
Facial_keypoints_detection/Dataset/training/training.csv
Facial_keypoints_detection/Dataset/training/.ipynb_checkpoints/training-checkpoint.csv
Facial_keypoints_detection/WIth heatmaps/Factial_keyponts_detection_v2_without_pre_proccess.ipynb
Facial_keypoints_detection/WIth heatmaps/Factial_keyponts_detection_v2-Copy1.ipynb
Facial_keypoints_detection/WIth heatmaps/fairyonice_approach_(Preproccess_to_hdf5).ipynb
Facial_keypoints_detection/WIth heatmaps/fairyonice_approach.ipynb
Facial_keypoints_detection/WIth heatmaps/Generate_weights_matrix.ipynb
Facial_keypoints_detection/WIth heatmaps/Pre_Process_data.ipynb
Facial_keypoints_detection/WIth heatmaps/.ipynb_checkpoints/Factial_keyponts_detection_v2_without_pre_proccess-checkpoint.ipynb
Facial_keypoints_detection/WIth heatmaps/.ipynb_checkpoints/Factial_keyponts_detection_v2-Copy1-checkpoint.ipynb
Facial_keypoints_detection/WIth heatmaps/.ipynb_checkpoints/fairyonice_approach_(Preproccess_to_hdf5)-checkpoint.ipynb
Facial_keypoints_detection/WIth heatmaps/.ipynb_checkpoints/fairyonice_approach-checkpoint.ipynb
Facial_keypoints_detection/WIth heatmaps/.ipynb_checkpoints/Generate_weights_matrix-checkpoint.ipynb
Facial_keypoints_detection/WIth heatmaps/.ipynb_checkpoints/Pre_Process_data-checkpoint.ipynb
Facial_keypoints_detection/test_images/1.jpg
Facial_keypoints_detection/test_images/2.jpg
Facial_keypoints_detection/test_images/3.jpg
Facial_keypoints_detection/v1/Factial_keyponts_detection_v1.1 (with_hdf5_file_format).ipynb
Facial_keypoints_detection/v1/Factial_keyponts_detection_v1.ipynb
Facial_keypoints_detection/v1/.ipynb_checkpoints/Factial_keyponts_detection_v1-checkpoint.ipynb
Facial_keypoints_detection/v1/.ipynb_checkpoints/Factial_keyponts_detection_v1.1 (with_hdf5_file_format)-checkpoint.ipynb
